.banner-container {
  height: 413px;
  position: relative;
  font-family: Prestige Elite Std;
  & .slowgan {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
  }
}
